<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>app title</title>
    <!-- <link rel="shortcut icon" type="image/png" href="image/favicon.png"/> -->
        <link rel="stylesheet" type="text/css" href="css/loading_page/normalize.css" />
        <link rel="stylesheet" type="text/css" href="css/loading_page/demo.css" />
        <link rel="stylesheet" type="text/css" href="css/loading_page/component.css" />
        <link rel="stylesheet" type="text/css" href="css/loading_page/particel.css">
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/fontawesome/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="bower_components/animate.css/animate.css">
    <link rel="stylesheet" type="text/css" href="css/app.css"/>
    <script type="text/javascript" src="bower_components/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="bower_components/sugarjs/release/sugar.min.js"></script>
    <script type="text/javascript" src="bower_components/sugar-extra/sugar-extra.min.js"></script>
    <script type="text/javascript" src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="js/app.js"></script>
</head>

<body ng-controller="Controller" background="img/ptn1.jpg">


    <!-- navbar -->
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="title">Online Gaming</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-left">
                    <li ng-show="user.signed_in == true && user.username == 'Guest'"><a href="" ng-click="panel='addpnl'"><i class="fa fa-universal-access fa-lg"></i> &nbsp; Singup</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('games')"><i class="fa fa-gamepad fa-lg"></i> &nbsp; Games</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="user.signed_in == false && startup.fast_load == true"><a href="" ng-click="show_panel('signin')"><i class="fa fa-sign-in fa-lg"></i> &nbsp; Login</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('profile')"><i class="fa fa-user fa-lg"></i> &nbsp; {{user.username}}</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('help')"><i class="fa fa-question-circle fa-lg"></i> &nbsp; nothing</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="user.signout()"><i class="fa fa-sign-out fa-lg"></i> &nbsp; Logout</a></li>
                    <li><a href=""><i class="fa fa-info fa-lg"></i> &nbsp; About us</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <!-- navbar bottom-->
    <!-- <nav class="navbar navbar-inverse navbar-fixed-bottom">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">
                    <i class="fa fa-home fa-lg"></i>
                    <span class="title">Online Gaming</span>
                </a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('addpnl')"><i class="fa fa-search fa-lg"></i> &nbsp; add pnl</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('pnl2')"><i class="fa fa-signal fa-lg"></i> &nbsp; پنل ۲</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-left">
                    <li ng-show="user.signed_in == false"><a href="" ng-click="show_panel('signin')"><i class="fa fa-sign-in fa-lg"></i> &nbsp; Login</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('profile')"><i class="fa fa-user fa-lg"></i> &nbsp; {{user.username}}</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="show_panel('help')"><i class="fa fa-question-circle fa-lg"></i> &nbsp; راهنما</a></li>
                    <li ng-show="user.signed_in == true"><a href="" ng-click="user.signout()"><i class="fa fa-sign-out fa-lg"></i> &nbsp; Logout</a></li>
                    <li><a href=""><i class="fa fa-info fa-lg"></i> &nbsp; About us</a></li>
                </ul>
            </div>
        </div>
    </nav>
 -->
<div class="row panels">


    <!-- Loading panel -->
    <div class="" ng-show="panel=='loading'">
        <div class="container demo-2">
            <div class="content">
                <div id="large-header" class="large-header">
                    <div id='c'>
                        <div class='s'></div>
                        <div class='s'></div>
                        <div class='s'></div>
                        <div class='s'></div>
                        <div class='s'></div>
                        <div class='s'></div>
                    <center >
                        <h2 style="padding-top: 6%; color: #A0A5A5;">Please wait or <a ng-click="startup.stop()" class="fast-load">click here</a></h2>
                        <h1 style="padding-top: 0%; color: lightblue;">Online <b>Gaming</b></h1>
                    </center>
                    </div>
                    <canvas id="demo-canvas"></canvas>
                </div>
            </div>
        </div>
        <script src="js/loading_page/rAF.js"></script>
        <script src="js/loading_page/demo-2.js"></script>
    </div>


    <!-- login mode -->
    <div class="login-mode" ng-show="panel == 'login_mode'" ng-class="{'animated fadeInUp': panel == 'login_mode'}">
        <form class="form-inline">
            <div class="form-group">
                <h1>Please login or enter as a guest</h1>
                <button type="button" class="btn btn-default" ng-click="show_panel('signin')">
                    Login &nbsp;
                    <i class="fa fa-sign-in fa-lg"></i>
                </button>
                <button type="button" class="btn btn-default" ng-click="user.guest_mode()">
                    Guest &nbsp;
                    <i class="fa fa-eye fa-lg"></i>
                </button>
                <div class="singup-text">
                    Or you can <a ng-click="panel='signup'">signup</a> here
                </div>
                <div class="texts">
                    <p>In this site you can play games with other users for free</p>
                    <p>Also you can see our tournuments match the in top of site</p>
                    <p>Enjoy it</p>
                </div>
            </div>
        </form>
    </div>

    <!-- pnl2 -->
    <div class="pnl2" ng-show="panel == 'pnl2'" ng-class="{'animated fadeInUp': panel == 'pnl2'}">
        پنل دو
    </div>

    <!-- signin -->
    <div class="row signin" ng-show="panel == 'signin'" ng-class="{'animated fadeInUp': panel == 'signin'}">
        <div class="col-sm-4 col-sm-offset-4 pnl">
            <form class="form-signin">
                <h4 class="form-signin-heading">لطفا ایمیل و رمز عبورتان را وارد کنید</h4>
                <input type="text" class="username form-control" placeholder="Username" ng-model="user.username"/>
                <input type="password" class="form-control" placeholder="Password" ng-model="user.password"/>
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"/> مرا به خاطر بسپار
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" ng-disabled="user.wait_for_response" ng-click="user.signin()">ورود</button>
                <div class="alert alert-danger" ng-show="user.invalid_userpass">نام کاربری یا رمز عبورتان اشتباه است</div>
            </form>
        </div>
    </div>


    <!-- games -->
    <div class="row games" ng-show="panel == 'games'" ng-class="{'animated fadeInUp': panel == 'games'}">
        <div class="col-sm-8 col-sm-offset-1 pnl">
            <div class="row">
                <div class="col-sm-8">
                    <div class="panel panel-danger">
                      <div class="row panel-heading">
                        <div class="col-sm-6">
                            <h3 class="">
                                Featured: <strong>Curling</strong>
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>Player: 125</p>
                        </div>
                      </div>
                      <div class="panel-body">
                        <img class="img-featuerd" src="img/curling/curling.jpg">
                      </div>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="panel panel-danger">
                      <div class="panel-heading">
                        <h3 class="">Favorites</h3>
                      </div>
                      <div class="panel-body">
                        <a class="game-favorit-icon ">
                          <span class="img2f">
                            <img class="game-icon" src="img/allgames.png" style="top:-320px;">
                          </span>
                          Chess &nbsp; Online player:34
                        </a>
                        <br>
                        <a class="game-favorit-icon ">
                          <span class="img2f">
                            <img class="game-icon" src="img/allgames.png" style="top:-0px;">
                          </span>
                          8 Balls &nbsp; Online player:143
                        </a>
                        <br>
                        <a class="game-favorit-icon ">
                          <span class="img2f">
                            <img class="game-icon" src="img/allgames.png" style="top:-352px;">
                          </span>
                          Checkers &nbsp; Online player:34
                        </a>
                        <br>
                        <a class="game-favorit-icon ">
                          <span class="img2f">
                            <img class="game-icon" src="img/allgames.png" style="top:-640px;">
                          </span>
                          Curling &nbsp; Online player:34
                        </a>
                        <br>
                      </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-2 pnl">
                <div class="col-sm-12">
                    <div class="panel panel-info">
                      <div class="panel-heading">
                        <h3 class="">Grand Prix</h3>
                      </div>
                      <div class="panel-body">
                        Panel content
                      </div>
                    </div>
                </div>
        </div>
    </div>

    <!-- profile -->
    <div class="profile" ng-show="panel == 'profile'">
        پروفایل
    </div>

</div>

</body>
</html>
